# Master Data Database
MASTER_DB_HOST=localhost
MASTER_DB_NAME=
MASTER_DB_USER=
MASTER_DB_PASS=

# System Database
LOAN_DB_HOST=localhost
LOAN_DB_NAME=
LOAN_DB_USER=
LOAN_DB_PASS=

# App Settings
APP_ENV=production
APP_DEBUG=false